streamlit
pandas
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
streamlit-gsheets
streamlit-option-menu
langchain-openai
langchain-community
langchain-core
python-dotenv
requests
Pillow
