git+https://github.com/googleapis/google-auth-library-python-httplib2
git+https://github.com/streamlit/gsheets-connection
streamlit
pandas
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
streamlit-option-menu
langchain-openai
langchain-community
langchain-core
python-dotenv
requests
Pillow

