git+https://github.com/streamlit/gsheets-connection
streamlit
pandas
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
streamlit-option-menu
langchain==0.3.27
langchain-openai==0.3.27
langchain-community==0.3.25
langchain-core==0.3.72
python-dotenv
requests
Pillow



